In [29]:
import pandas as pd 
from pathlib import Path 
import numpy as np

In [30]:
state_unemployment = pd.read_csv(Path('Resources/cleaned_unemployment_data.csv'), index_col = 'State')
state_unemployment.tail()

               2010  2011  2012  2013  2014  2015  2016  2017  2018  2019
State
Virginia       7.13  6.59  6.06  5.70  5.23  4.46  4.10  3.70  2.97  2.80
Washington     9.99  9.28  8.11  7.03  6.12  5.64  5.28  4.71  4.48  4.54
West Virginia  8.62  8.06  7.49  6.79  6.63  6.74  6.08  5.19  5.23  4.88
Wisconsin      8.64  7.76  7.03  6.70  5.40  4.52  4.02  3.27  3.00  3.05
Wyoming        6.45  5.79  5.31  4.72  4.13  4.32  5.32  4.18  4.08  3.71

In [31]:
state_unemployment.drop('District of Columbia', inplace = True)

In [32]:
state_unemployment.shape

(50, 10)

In [35]:
alabama_last_rate = state_unemployment.loc['Alabama', '2019']
alabama_last_rate

3.32

In [17]:
#s_result = d.DataFrame({"avg": s_rev.mean(axis=1), "sd": s_rev.std(axis=1)})
results = pd.DataFrame({'avg':state_unemployment.pct_change(axis=1).mean(axis=1), 'std':state_unemployment.pct_change(axis=1).std(axis=1)})

In [18]:
results.head()

                 avg       std
State
Alabama    -0.118427  0.062304
Alaska     -0.023535  0.034906
Arizona    -0.078590  0.049361
Arkansas   -0.084698  0.079511
California -0.112847  0.050911

In [19]:
avg = results['avg']

In [20]:
std = results['std']

In [27]:
monte_carlo = pd.DataFrame()

In [28]:
'''DOING TEN SIMULATIONS FOR EACH STATE'''
num_simulation = 25
num_years = 10

x = 0
for x in range(50):
    # Getting the last unemployment from each state
    index = state_unemployment.index[x]
    last_rate = state_unemployment.loc[index, '2019']
    
    #Running monte carlo simulation
    for num in range(num_simulation): 
        simulated_rate = [last_rate]
        #spy_randoms = np.random.normal(avg_daily_return_spy, volatility_return_spy, number_records)
        #agg_randoms = np.random.normal(avg_daily_return_agg, volatility_return_agg, number_records)
        #randon = np.random.normal(avg[x],std[x], num_simulation) 
        for year in range(num_years): 
            lista = []
            for i in range(num_simulation): 
                rate = simulated_rate[-1]*(1 + np.random.normal(avg[x], std[x]))
                lista.append(rate)
                           
            simulated_rate.append(sum(lista)/len(lista))
        #lista.append(simulated_rate)
    
    monte_carlo[index] = pd.Series(simulated_rate)
    x =+ 1

In [26]:
monte_carlo

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,Georgia,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,3.320000,6.320000,4.900000,3.580000,4.110000,3.040000,3.720000,3.450000,3.320000,3.620000,...,2.940000,3.330000,3.540000,2.770000,2.230000,2.800000,4.540000,4.880000,3.050000,3.710000
1,2.886989,6.166658,4.631422,3.081759,3.725952,2.955761,3.349586,3.077723,2.895134,3.246943,...,2.785935,2.951231,3.314122,2.529919,1.941541,2.600557,4.069550,4.515981,2.656143,3.133991
2,2.419551,5.893937,4.457254,3.108573,3.488797,2.066498,2.984703,2.874462,2.554832,2.909224,...,2.511836,2.617933,2.881062,2.253275,1.743168,2.364674,3.711593,4.185943,2.481974,2.833179
3,2.114309,5.670324,3.967108,2.788145,3.207875,1.923049,2.648575,2.705666,2.223546,2.574653,...,2.404850,2.427136,2.620086,2.067286,1.528404,2.154982,3.299511,3.845716,2.281546,2.799417
4,1.854576,5.612789,3.679080,2.518000,2.871619,1.598188,2.360483,2.546364,1.903006,2.267233,...,2.235094,2.113307,2.330400,1.860198,1.365909,1.989255,3.000552,3.596193,2.037172,2.526794
5,1.604878,5.520606,3.337369,2.307726,2.522651,1.538332,2.150820,2.308422,1.666576,2.057506,...,2.170585,1.902323,2.166461,1.674315,1.229892,1.795082,2.761092,3.376129,1.750863,2.447101
6,1.368328,5.347169,3.094489,2.188917,2.214082,1.262940,1.936279,2.030934,1.481801,1.795474,...,2.105884,1.737983,1.890622,1.482932,1.088801,1.595206,2.532966,3.128885,1.552879,2.481248
7,1.274896,5.049446,2.853025,2.056386,2.037206,1.143885,1.736900,1.750612,1.329574,1.553559,...,1.917652,1.587875,1.682760,1.323140,0.976950,1.438802,2.211590,2.927187,1.402110,2.124620
8,1.121930,4.933775,2.603710,1.772244,1.899051,0.930146,1.571962,1.663230,1.172154,1.420498,...,1.871515,1.470277,1.555020,1.163125,0.895021,1.329653,1.982192,2.780839,1.271709,1.935119
9,1.012038,4.695780,2.384263,1.610349,1.726928,0.747104,1.416309,1.467209,1.032957,1.267889,...,1.773154,1.307341,1.278617,1.081731,0.794188,1.237377,1.816862,2.539528,1.049930,1.772627
10,0.909009,4.647711,2.135156,1.411539,1.525608,0.677915,1.267906,1.375700,0.936315,1.097657,...,1.670308,1.151506,1.196019,0.966221,0.710491,1.092314,1.648725,2.367402,0.958062,1.477158

In [ ]:
monte_carlo

In [280]:
my_index = pd.date_range(start='1/1/2020', end='12/31/2044', freq='Y' )

In [282]:
my_index

DatetimeIndex(['2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [273]:
monte_carlo.drop(0, inplace = True)

In [283]:
monte_carlo.index = my_index

In [287]:
final_df=monte_carlo.transpose()

In [293]:
final_df.index.rename('State', inplace = True)

In [294]:
final_df

In [39]:
state_unemployment.index[49]

'Wyoming'

In [41]:
x=0
for x in range(50):
    # Getting the last unemployment from each state
    index = state_unemployment.index[x]
    last_rate = state_unemployment.loc[index, '2019']
    print(last_rate)
    x += 1

3.32
6.32
4.9
3.58
4.11
3.04
3.72
3.45
3.32
3.62
2.72
2.87
4.13
3.4
2.48
3.32
4.21
4.56
3.12
3.72
2.94
4.1
3.24
5.15
3.22
3.52
2.99
4.09
2.48
3.58
4.93
3.96
4.0
2.4
4.24
3.27
4.11
4.02
3.66
3.07
2.94
3.33
3.54
2.77
2.23
2.8
4.54
4.88
3.05
3.71